/**
    LAYOUT STYLES
*/

.section {
    padding: 4rem 0rem;
}


/**
    TYPING ANIMATION
*/
.typing-cursor {
    animation: cursorBlink 0.5s alternate infinite;
}

@keyframes cursorBlink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

/**
    MARQUEE ANIMATION
*/
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}
